.newGoBtn {
  background: #c2b1aa;
  background-image: -webkit-linear-gradient(top, #c2b1aa, #80766a);
  background-image: -moz-linear-gradient(top, #c2b1aa, #80766a);
  background-image: -ms-linear-gradient(top, #c2b1aa, #80766a);
  background-image: -o-linear-gradient(top, #c2b1aa, #80766a);
  background-image: linear-gradient(to bottom, #c2b1aa, #80766a);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 0px 3px 3px 3px;
  text-decoration: none;
}

.newGoBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.newSubmitBtn {
  background: #38c23d;
  background-image: -webkit-linear-gradient(top, #38c23d, #1d8713);
  background-image: -moz-linear-gradient(top, #38c23d, #1d8713);
  background-image: -ms-linear-gradient(top, #38c23d, #1d8713);
  background-image: -o-linear-gradient(top, #38c23d, #1d8713);
  background-image: linear-gradient(to bottom, #38c23d, #1d8713);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
}

.newSubmitBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.presentButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.presentButton:hover {
  background: #29833B;
  background-image: -webkit-linear-gradient(top, #29833B, #29833B);
  background-image: -moz-linear-gradient(top, #29833B, #29833B);
  background-image: -ms-linear-gradient(top, #29833B, #29833B);
  background-image: -o-linear-gradient(top, #29833B, #29833B);
  background-image: linear-gradient(to bottom, #29833B, #29833B);
  text-decoration: none;
}

.absentButton   {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.absentButton:hover {
	background: red;
  text-decoration: none;
}

.presentButtonYes {
  background: #29833B;
  background-image: -webkit-linear-gradient(top, #29833B, #29833B);
  background-image: -moz-linear-gradient(top, #29833B, #29833B);
  background-image: -ms-linear-gradient(top, #29833B, #29833B);
  background-image: -o-linear-gradient(top, #29833B, #29833B);
  background-image: linear-gradient(to bottom, #29833B, #29833B);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.absentButtonYes {
  background: red;
  background-image: -webkit-linear-gradient(top, red, red);
  background-image: -moz-linear-gradient(top, red, red);
  background-image: -ms-linear-gradient(top, red, red);
  background-image: -o-linear-gradient(top, red, red);
  background-image: linear-gradient(to bottom, red, red);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.newSaveBtn
{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.newSaveBtn:hover {
  background: #29833B;
  background-image: -webkit-linear-gradient(top, #29833B, #29833B);
  background-image: -moz-linear-gradient(top, #29833B, #29833B);
  background-image: -ms-linear-gradient(top, #29833B, #29833B);
  background-image: -o-linear-gradient(top, #29833B, #29833B);
  background-image: linear-gradient(to bottom, #29833B, #29833B);
  text-decoration: none;
}