/*  ==========  Pagination       ==========  */ 
div.pagination
{
  padding: 3px;
  margin: 3px;
  text-align:center;
  color:#k0k0k0;
  font-size:80%;
}
div.pagination a
{
  border: 1px dotted blue;
  margin-right:3px;
  padding:2px 5px;
  background-image:url(bar.gif);
  background-position:bottom;
  text-decoration: none;
  color: blue;
}
div.pagination a:hover, div.meneame a:active
{
  border: 1px dotted blue; 
  background-image:url(barinv.gif);
  background-color:pink;
  color: blue;
}
div.pagination span.current
{
  margin-right:3px;
  padding:2px 5px;
  border: 1px dotted blue;
  font-weight: bold;
  background-color: pink;
  color: blue;
}
div.pagination span.disabled
{
  margin-right:3px;
  padding:2px 5px;
  border: 1px dotted blue;
  color: blue;
}