body {
	background-image: url(../images/school-2.jpg);
	padding:0;
	margin:0;
	background:#ffffff;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:13px;
	line-height:20px;
	color:#464646;
}
ol li { padding:7px 0; margin:0 0 0 -10px; list-style:decimal-leading-zero; }

.form01 label { float:left; margin:2px 20px 0 10px; }
.form01 input.chackbox01 { padding:10px; }
.form01 input, textarea, select { padding:4px; float:left; height:28px; border:1px solid skyblue; font:12px Arial, Verdana, Helvetica, sans-serif; background:#fff url(../images/background-input.gif) no-repeat 0 0; }
.form01 input:hover, textarea:hover, select:hover,
.form01 input:focus, textarea:focus, select:focus { border: 1px solid #aaa; background-position: 0 -400px; }
.form01 input.triple-length, textarea.triple-length, select.triple-length { width:300px; }
.form01 input.doubleheight, textarea.doubleheight, select.doubleheight { height:100px; }
.form01 input.width_01, textarea.width_01, select.width_01 { width:155px; }
.form01 fieldset { border: 1px solid #EAEBEC; padding: 15px; margin-bottom:1em; background:url(../images/login_bg.gif) repeat-x top left #FDFDFD; }
.form01 legend { font:normal 18px Georgia Ref, Georgia, Arial, Tahoma; color: #999; line-height: 1.6em; }
.form01 .button { width:70px; height:33px; margin-right:10px; border: 1px solid green;}

@font-face {
	font-family: 'Abel';
	src: url('../fonts/abel-regular-webfont.eot');
	src: local('Abel'), url('../fonts/abel-regular-webfont.woff') format('woff'), url('../fonts/abel-regular-webfont.ttf') format('truetype'), url('../fonts/abel-regular-webfont.svg#webfontd60hyItJ') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
			font-family: 'MyriadPro-Regular';
			src: url('../fontsmyriadproregular.eot');
			src: url(../fonts'myriadproregular.eot?#iefix') format('embedded-opentype'),
					 url('../fontsmyriadproregular.woff') format('woff'),
					 url('../fontsmyriadproregular.ttf') format('truetype'),
					 url('../fontsmyriadproregular.svg#myriadproregular') format('svg');
			font-weight: normal;
			font-style: normal;
		}
		
		
p, a, h1, h2, h3, h4, h5, h6, input, img, button, ul, li {
	padding:0;
	margin:0;
	list-style-type:none;
	border:none;
	background:none;
	text-decoration:none;
	font-weight:normal;
}

a { color:#666666; text-decoration:none; }



.clr {
	clear:both;
}
.fl { float:left; }
.fr { float:right; }

.button
{
	background-color:green;
	 width: 5em;  
   width: 5em;
}

/* header */
.header {
	background: #2b863b; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b863b 1%, #115e40 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2b863b), color-stop(100%,#115e40)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2b863b 1%,#115e40 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2b863b 1%,#115e40 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2b863b 1%,#115e40 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2b863b 1%,#115e40 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b863b', endColorstr='#115e40',GradientType=0 ); /* IE6-9 */
	height:62px;
}
.head_inn, .cntent_in {
	width:980px;
	margin:0 auto;
	padding:17px 0 0 0;
}
ul.nav {
	float:right;
	padding:7px 0 0 0 ;
}
ul.nav li {
	float:left;
	padding:0 23px 0 0;
}
ul.nav li a {
	font-size:14px;
	color:#fff;
}
.olfrm {
	background: #c85e0f; /* Old browsers */
	background: -moz-linear-gradient(top,  #c85e0f 0%, #c55a10 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c85e0f), color-stop(100%,#c55a10)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c85e0f 0%,#c55a10 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c85e0f 0%,#c55a10 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c85e0f 0%,#c55a10 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c85e0f 0%,#c55a10 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c85e0f', endColorstr='#c55a10',GradientType=0 ); /* IE6-9 */
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	width:150px;
	height:26px;
	float:right;
	color:#fff;
	text-align:center;
	line-height:26px;
	margin:0 7px 0 0;
	font-size:14px;
}
.login {
	background: #091f0f; /* Old browsers */
	background: -moz-linear-gradient(top,  #091f0f 0%, #061a10 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#091f0f), color-stop(100%,#061a10)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #091f0f 0%,#061a10 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #091f0f 0%,#061a10 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #091f0f 0%,#061a10 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #091f0f 0%,#061a10 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091f0f', endColorstr='#061a10',GradientType=0 ); /* IE6-9 */
	margin-right: 10px;
	padding:0px 15px;
	height:26px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	float:right;
	color:white;
	font-size:14px;
	line-height:26px;
	cursor:pointer;
}
/*********** content ******/
.cntent {
	background:url(../images/con_top_bg.png) 0 0 repeat-x;
	margin:1px 0 0;
}
.cntent_img {
	background:url(../images/con_top_img.png) 50% 0 no-repeat;
}
.cntent_in  {
	padding:0;
}
.top {
	padding:0 0 37px 0;
}
.logo {
	float:left;
	position:absolute;
	top:1px;
	z-index:100px;
}


ul.side_menu {
	width:246px;
	float:left;
	padding:19px 0 0 0;
}
ul.side_menu li {
	background:url(../images/li_img.png) 0 15px no-repeat;
	border-bottom:1px solid #cbcbcb;
	padding:13px 0 13px 25px;
	
}
ul.side_menu li.active {
	background:url(../images/active_li.png) 0 15px no-repeat;
	border-bottom:1px solid #cbcbcb;
	padding:13px 0 13px 25px;
}
ul.side_menu li:last-child {
	border-bottom:none;
}
ul.side_menu li a {
	font-size:17px;
	color:#454545;
	
}
ul.side_menu li.active a {
	font-size:17px;
	color:#006344;
}




.search {
	float:right;
	width:305px;
	margin:57px 0 0 0;
}
.srch_text {
	background:#f4f4f4;
	border-left:1px solid #c1c1c1;
	border-top:1px solid #c1c1c1;
	border-bottom:1px solid #c1c1c1;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-top-left-radius:5px; /* top left corner */
	-webkit-border-bottom-left-radius:5px; /* top right corner */	
	width:253px;
	height:30px;
	color:#aaaaaa;
	font-size:14px;
	float:left;
	padding:0 9px;
	line-height:30px;
}
.src_btn {
	background:url(../images/search_img.png) 0 0 no-repeat;
	height:32px;
	width:32px;
	float:left;
	cursor:pointer;
}
.news {
	background:#323232;
	height:43px;
	line-height:43px;
	color:#fff;
	font-size:12px;
	font-weight:bold;
}
.ltest_news {
	background:#85b527;
	text-transform:uppercase;
	width:153px;
	text-align:center;
	float:left;
	margin:0 17px 0 0;
}
.news a {
	color:#fff;
}
.lat_updets {
	padding:40px 0 0 0;
}
.lat_updets h3 {
	font-size:25px;
	font-family: Abel, Helvetica, sans-serif;
	font-weight:normal;
}
.lat_updetsdata {
	border-bottom: solid 1px #e5e5e5;
	border-top: solid 1px #e5e5e5;
	padding: 15px 0;
}
.lat_updetsdata a{
	text-decoration:none;
	color:#666666;
}
.datedata {
	background:url(../images/datebg.png) no-repeat;
	padding: 11px 0;
	width: 66px;
	text-align:center;
	line-height: 20px;
	float:left;
}
.date {
	font-size:24px;
	font-weight:bold;
}
.ds {
	font-size:12px;
	font-weight:bold;
	padding:0 0 0 2px;
}
.month {
	font-size:20px;
	font-weight:bold;
}
.leblock, .leblock2 {
	width: 270px;
	border-right: #e5e5e5 solid 1px;
	float:left;
	margin: 0 25px 0 0;
}
.lecont {
	float:left;
	width:190px;
	padding: 8px 0 0 10px;
}
.lecont h3 {
	color:#000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	
}
.leblock2{
	border-right:none;
}

.number {
	padding:70px 0 29px 38px;
	font-size:20px;
	color:#404040;
	float:left;
}
.bold_text {
	font-weight:bold;
}
.divide {
	color:#ccc;
	padding:0 5px;
}
.left_part {
	width:1000px;
	float:left;
	padding:0 30px 0 0
}
.sch_eve {
  width:300px;
  height:200px;
  overflow:auto;
	float:left;
	border:3px solid #989898;	
	margin:0 20px 0px 0;
}

.sch_eve2 {
  width:300px;
  height:200px;
  overflow:auto;
	float:left;
	border:3px solid #989898;	
	margin:0 20px 0px 0;
	background: url(../images/con_top_img.png) 40% 0 no-repeat;
}
.left_part p {
	line-height:20px;
	text-align:justify;
}
.right_part {
	float:left;
	width:301px;
	padding:40px 0 0 0;
}
.left_arw {
	background:url(../images/left_arrow.png) 0 0 no-repeat;
	width:20px;
	height:20px;
	float:left;
}
.right_con {
	background: #005a3a; /* Old browsers */
	background: -moz-linear-gradient(top,  #005a3a 0%, #0b761a 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005a3a), color-stop(99%,#0b761a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #005a3a 0%,#0b761a 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #005a3a 0%,#0b761a 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #005a3a 0%,#0b761a 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #005a3a 0%,#0b761a 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005a3a', endColorstr='#0b761a',GradientType=0 ); /* IE6-9 */
	float:left;
	width:247px;
	padding:0 17px;
}
h2 {
	font-size:30px;
	padding:23px 0 17px 0;
	color:#fff;
	font-family: Abel, Helvetica, sans-serif;
	font-weight:normal;
}
.right_con img {
	border:5px solid #404040;
}
.right_part p{
	padding:17px 0 30px 0;
	color:#c2dcc6;
	text-align:justify;
}
.soc_link {
	/*background: #3e3e3e; 
	background: -moz-linear-gradient(top,  #3e3e3e 0%, #2f2f2f 99%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e3e3e), color-stop(99%,#2f2f2f)); 
	background: -webkit-linear-gradient(top,  #3e3e3e 0%,#2f2f2f 99%); 
	background: -o-linear-gradient(top,  #3e3e3e 0%,#2f2f2f 99%); 
	background: -ms-linear-gradient(top,  #3e3e3e 0%,#2f2f2f 99%); 
	background: linear-gradient(to bottom,  #3e3e3e 0%,#2f2f2f 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3e', endColorstr='#2f2f2f',GradientType=0 );*/
	float:left;
	width:247px;
	padding:0 17px 22px 0px;
	margin:10px 0 0 20px;
}
.soc_link h2 {
	color:#FFFFFF;
	font-weight:normal;
	padding: 0 0 12px 0;
	font-size:20px;
 }
.soc_link ul li {
	padding:0 10px 10px 0;
	float:left;
}
.footer {
	padding:20px 0 0 0;
	margin: 28px 0 0 0;
	background:#323232 url(../images/footer_bg.jpg) no-repeat 50% 0;
	width:100%;
}

.footer a:link, .footer a:visited, .footer a:active{
	text-decoration:none;
	color:#8c8c8c;
}
.footer a:hover {
	color:#CCCCCC;
	text-decoration:none;	
}
.footer_bg {  }

.ftwidth {
	width:980px;
	margin:auto;
	color:#959595;
	
}
.officeadd {
	width:325px;
	border-right: #6a6a6a solid 1px;
	padding: 10px 0;
	float:left;
	margin-right:20px;
}
.schooladd {
	width:325px;
	padding: 10px 15px 15px 0;
	float:left;
	border-right: #6a6a6a solid 1px;
}
.officeadd h2, .schooladd h2 { 
	color:#FFFFFF;
	font-weight:normal;
	padding: 0 0 8px 0;
	font-size:20px;
}
.bot {
	background-color:#181818;
	text-align:center;
	padding: 20px 0;
	margin: 25px 0 0 0;
}
.bot a {
	padding:10px;
}
.webadd {
	color:#7f7f7f;
	width:485px;
	float:left;
	padding:30px 0;
}
.webadd a{ 
	text-decoration:none;
	color:#7f7f7f;
}
.crights {
	text-align: right;
}

/* top menu by nainesh */

.menu {
	background:#f7f7f7;
	border:1px solid #d8d8d8;
	height:51px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:10px 0 0 0;
	padding:0 0 0 15px;
}

#nav {
	margin:17px 0 0 0;
	padding:0 0 0 15px;
}
#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}

/* main level link */
#nav a {
	background: #85B440; /* Old browsers */
	background: -moz-linear-gradient(top,  #85B440 0%, #859240 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85B440), color-stop(99%,#859240)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #85B440 0%,#859240 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #85B440 0%,#859240 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #85B440 0%,#859240 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #85B440 0%,#859240 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85B440', endColorstr='#859240',GradientType=0 ); /* IE6-9 */
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:2px 3px;
	margin:8px 0 0 0;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:auto;
	font-size:12px;
	padding:2px 3px;	
}
#nav a:hover {
	background: #2b863b; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b863b 0%, #115e40 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b863b), color-stop(99%,#115e40)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2b863b 0%,#115e40 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2b863b 0%,#115e40 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2b863b 0%,#115e40 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #2b863b 0%,#115e40 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b863b', endColorstr='#115e40',GradientType=0 ); /* IE6-9 */
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:2px 3px;
	margin:8px 0 0 0;
	color:#FFFFFF;
}

/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #2b863b; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b863b 0%, #115e40 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b863b), color-stop(99%,#115e40)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2b863b 0%,#115e40 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2b863b 0%,#115e40 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2b863b 0%,#115e40 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #2b863b 0%,#115e40 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b863b', endColorstr='#115e40',GradientType=0 ); /* IE6-9 */
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
/*	padding:10px 15px;*/
	margin:8px 0 0 0;
	color:#FFFFFF;
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #ffffff;
	padding:3px 0 3px 0;	
}
#nav ul a:hover {
	background: #2b863b; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b863b 0%, #115e40 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b863b), color-stop(99%,#115e40)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2b863b 0%,#115e40 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2b863b 0%,#115e40 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2b863b 0%,#115e40 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #2b863b 0%,#115e40 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b863b', endColorstr='#115e40',GradientType=0 ); /* IE6-9 */
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:10px 15px;
	margin:8px 0 0 0;
	color:#FFFFFF;
}

/* dropdown */
#nav li:hover > ul {
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;

/*	margin: 0;
	padding: 0; */
	width: 210px;
	position: absolute;
	top: 26px;
	left: 0;
	background: #2b863b; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b863b 0%, #105d40 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b863b), color-stop(99%,#105d40)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2b863b 0%,#105d40 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2b863b 0%,#105d40 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2b863b 0%,#105d40 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #2b863b 0%,#105d40 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b863b', endColorstr='#105d40',GradientType=0 ); /* IE6-9 */
	border: solid 1px #006600;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:2px;
	z-index:1000;
/*	margin:15px 0 0 0;*/
	
}
#nav ul li {
	float:none;
	padding:10px;
	background:url(../images/sub_li.png) 0 bottom no-repeat;	
}

#nav ul li:last-child {
	background:none;
}

#nav ul a {
	font-weight:bold;
	color:#ffffff;
	font-size:12px;
	padding:5px 8px;	
}
#nav ul a:hover {
	font-weight:bold;
	color:#FFCC00;
	font-size:12px;
	background:none;
	padding:5px 8px;		
}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}

/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
} 
html[xmlns] #nav {
	display: block;
}
 
* html #nav {
	height: 1%;
}


.list_01 {  }
.list_01 li { float:left; padding-bottom:15px;  margin-bottom:15px;  }
.list_01 li img { float:left; width:118px; margin-right:15px; border:1px solid #7ab08c; padding:9px; }
.list_01 li p { float:left; width:750px; line-height:18px; }
.list_01 li span { float:right; margin-top:20px; }
.list_01 li.bor { border-bottom:1px solid #CCC;  }

.list_02 { }
.list_02 li { float:left; display:inline; margin:0 20px 20px 0; border:1px solid #CCC; padding:5px; }
.list_02 li img { border:none; float:left; }
.list_02 li.none { margin-right:0; }

.list_03 { }
.list_03 li { float:left; padding:25px; border:1px solid #d8d8d8; width:397px; margin-right:20px; }
.list_03 li.none { margin-right:0; }


.border_01 { border:1px solid #e1e1e1; border-collapse:collapse;  }
.border_01 td { border-collapse:collapse; border:1px solid #e1e1e1; padding:8px; }
.border_02 { border:1px solid #7ab08c; padding:9px; float:left; margin-right:15px; }
.green { color:#14b179; }
.green_bold { color:#20763d; font-weight:bold; }
.green_big_font { color:#21783c; font-size:20px; font-weight:normal; line-height:28px; }
.text { font-size:20px; }
.slogan { font-size:25px; color:#d7e22f; float:right; padding-top:22px; }
.marg_r01 { margin-right:20px; }
.page { border:1px solid #d8d8d8; text-align:justify; padding:30px; -moz-border-bottom-left-radius:5px; -moz-border-bottom-right-radius:5px; -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; }
.hd { color:#fff; margin-top:20px; height:70px; padding:0 30px; border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-top-left-radius: 5px; -moz-border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; background:#14633f;   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#14633f), to(#29843b)); background-image: -webkit-linear-gradient(top, #14633f, #29843b); background-image:-moz-linear-gradient(top, #14633f, #29843b); background-image: -ms-linear-gradient(top, #14633f, #29843b); background-image: -o-linear-gradient(top, #14633f, #29843b); }
.hd h1 { float:left; color:#fff; font-size:40px; font-family:"Times New Roman", Times, serif; padding-top:22px; }

.cbse_affiliation { color:#fff; font-weight:bold; float:right; text-align:right; line-height:18px; padding-top:18px; }

.event_gallery { }
.event_gallery li { float:left; margin:0 20px 20px 0; }
.event_gallery li img { width:279px; height:220px; border:1px solid #d8d8d8; padding:5px;  }
.event_gallery li div { background:#267f3b; width:269px; color:#fff; font-size:16px; line-height:20px; text-align:center; padding:10px; margin-top:5px; }
.event_gallery li.none { margin-right:0; }

.back { float:right; margin-top:20px; }
.back a { color:#333; text-decoration:none; font-weight:bold; background:#fff; padding:5px 10px; display:block; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.back a:hover { background:#000; color:#fff; }

.table1{background-color:#EAF9FF; padding:4px; font-weight:bold; border:1px solid #BEE1FF; font-size:12px;}
.table2{background-color:#F7F7F7; padding:2px; border:1px solid #F7F7F7; font-size:12px;}

/*CSS for principal dashboard*/
.content {
    background: #f9f9f9 none repeat scroll 0 0;
    overflow: auto;
    padding: 20px 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.small-box {
    border-radius: 2px;
    display: block;
    margin-bottom: 15px;
    position: relative;
}
.bg-light-blue {
    background-color: #5fb4ef !important;
}
/*.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-cherry, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-grass, .bg-wood, .bg-black {
    color: #f9f9f9 !important;
}*/
.small-box > .inner {
    padding: 10px;
}
.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
	color:#fff;
}
.small-box p {
    font-size: 15px;
	margin:0 0 10px;
	color:#fff;
}
.small-box > .small-box-footer {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}
.bg-wood {
    background-color: #ab7d44 !important;
}
.bg-orange {
    background-color: #ff851b !important;
}
.bg-grass {
    background-color: #a1c436 !important;
}