.dataTables_info { padding-top: 0; }
.dataTables_paginate { padding-top: 0; }
.css_right { float: right; }
#example_wrapper .fg-toolbar { font-size: 0.8em }
#theme_links span { float: left; padding: 2px 10px; }
	
#large
{
  display: none;
  position: absolute;
  color: #FFFFFF;
  background: #333333;   
  padding: 2px;
}