{include file="./main.tpl"}
<br>
<br>
<br>
{block name="head"}
{/block}
{block name="body"}
<form name="form1" method="POST" action="bookType.php">
<table align="center" border="0" class="table2">
<div class="hd"><h2 align="center">BookType Entry</h2>
<tr>
  <input type="hidden" name="bookTypeId" value="{$bookTypeId}">
</tr>
<tr>
  <td align="center" colspan="2" style="color:red; font-size:18px;"><b>{$confirm}</b></td>
</tr>
<tr>
  <td class="table2">BookType Name</td>
  <td class="table2 form01"><input name="bookType" type="text" autofocus="autofocus" value="{$bookType}" required ></td>
</tr>
<tr>
  <td class="table2"></td>
  <td class="table2 form01" align="center"><input type="submit" name="Submit" class="button" value="Submit"></td>
</tr>
</table>
</form>
<table align="center" border="2">
	<h2 align="center">BookType List</h2>
	<tr>
		<td align="center"><b>BookType Name</b></td>
  </tr>
  {section name="sec" loop=$bookTypeArray}
  <tr>
    <td align="left">{$bookTypeArray[sec].bookType}</td>
  </tr>
  {/section}
</table>
{/block}