<head>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" href="./css/buttonStyle.css" type="text/css" />
</head>
<body style="background-image:url(./images/offline.jpg)">
<div class="container-fluid">
<div class="row-fluid">
	<div class="span12">
</div>
</div>
<div class="row-fluid">
<!-- div class="menu" -->
	<form name="form1" method="POST" action="checkLogin.php">
		<!-- img align=center src="./images/logoHead.png" width="209" height="52" -->
		
<br>
<p style="text-align:center"><span style="color:#ff0000">CBSE Affiliation No.: 430054 | School Code: 13015</span></p><br>
<p style="text-align:center"><span style="color:#ff0000">WELCOME TO DPS RAJKOT FAMILY</span></p>
<br>
  <h1 style="text-align:center"><img alt="School" src="./images/logo.png" align=center ></h1>
  
  <br>
    <table align="center" class="table2" width="30%" border="0" cellpadding="3" cellspacing="1">
      <tr>
        <td class="table2 form01">User Name</td>
        <td class="table2 form01">:</td>
        <td class="table2 form01"><input name="userName" type="text" id="userName" autofocus="autofocus" style="width:200px;"></td>
       </tr>
       <tr>
        <td class="table2 form01">Password</td>
        <td class="table2 form01">:</td>
        <td class="table2 form01"><input name="password" type="password" id="password" style="width:200px;"></td>
       </tr>
       <tr>
      
        <td class="table2" colspan=4 align="center"><br> <input type="submit" name="Submit" class="newSubmitBtn" value="Login"></br>
        <a href="forgotPass.php">Forgot Password</a><br></td>
		  </tr>
		</table>
	</form>
	  <h1 style="text-align:center"><img alt="School" src="./images/school-2.jpg" style="height:140px; width:600px"></h1>
	<br>
	<p style="text-align:center"><span style="color:#ffff00"><span style="font-family:verdana; font-size:small"><span style="background-color:#000000">&nbsp;Delhi Public School&nbsp;&nbsp; </span></span></span></p>

			<p style="text-align:center"><span style="color:#ffff00"><span style="font-family:tahoma,geneva,sans-serif; font-size:13px"><span style="background-color:#000000">&nbsp;Haripar, Survey No.12, Kalawad Road,&nbsp; Rajkot -360 007</span></span><br>
			
			<p style="text-align:center"><span style="color:#ffff00"><span style="font-family:tahoma,geneva,sans-serif; font-size:13px"><span style="background-color:#000000">&nbsp;Phone: 9375070921, 9375070922</span><span style="background-color:#000000">, </span></span><span style="font-family:verdana; font-size:small"><span style="background-color:#000000">(0281) 2450302&nbsp;</span></span><br>
		
			<span style="font-family:tahoma,geneva,sans-serif; font-size:13px"><span style="background-color:#000000">&nbsp;Fax: 9375070923 </span></span></span></p>

			<p style="text-align:center"><span style="color:#ffff00"><span style="font-family:tahoma,geneva,sans-serif; font-size:13px"><span style="background-color:#000000">&nbsp;Web:</span><span style="background-color:#000000">&nbsp;</span></span></span><a href="http://www.dpsrajkot.org/" style="padding: 0px; margin: 0px; list-style-type: none; border: none; background-image: none; background-color: rgb(255, 255, 255); text-decoration: none; font-weight: normal; color: rgb(127, 127, 127); font-family: Tahoma, Geneva, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-position: initial initial; background-repeat: initial initial;" target="_blank"><span style="color:#ffff00"><span style="background-color:#000000">www.dpsrajkot.org</span></span></a><span style="color:#ffff00"><span style="font-family:tahoma,geneva,sans-serif; font-size:13px"><span style="background-color:#000000">, email:</span><span style="background-color:#000000">&nbsp;</span></span></span><a href="mailto:info@dpsrajkot.org" style="padding: 0px; margin: 0px; list-style-type: none; border: none; background-image: none; background-color: rgb(255, 255, 255); text-decoration: none; font-weight: normal; color: rgb(127, 127, 127); font-family: Tahoma, Geneva, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-position: initial initial; background-repeat: initial initial;"><span style="color:#ffff00"><span style="background-color:#000000">info@dpsrajkot.org </span></span></a></p>
</div>

<div class="span9">

<br>
  
<!-- table align="center" border="0" cellpadding="1" cellspacing="1" style="width:600px">
	<tbody>
		<tr>
			<td style="width:160px;">
			<p><img alt="" src="./images/91_playpark.JPG" ></p>

			<p><img alt="" src="./images/DSCN6827.jpg" ></p>
			</td >
			<td>
			</td>
			< td style="width:160px;">
      <p>< img alt="" src="./images/horse4.jpg" ></p>
				
			<p>< img alt="" src="./images/DSC_0606.jpg" ></p>
			</td>
		</tr>
	</tbody>
</table -->

<p>&nbsp;</p>

</div>
<div class="span3">
