{include file="./main.tpl"}
{block name="body"}
<form name="form1" method="POST" action="clubMasterEntry.php">
<table align="center" border="0" class="table2">
<div class="hd"><h2 align="center">Club Entry</h2>
<input type="hidden" name="subjectMasterId" value="{$subjectMasterId}">
<tr>
  <td align="center" colspan="2" style="color:red; font-size:18px;"><b>{$confirm}</b></td>
</tr>
<tr>
  <td class="table2">Club Name</td>
  <td class="table2 form01">
  	<input type="text" name="subjectName" value="{$subjectName}" AUTOFOCUS=AUTOFOCUS REQUIRED >
  </td>
</tr>
<tr>
  <td class="table2">Type</td>
  <td class="table2 form01">
  	<select name="subjectType">
      {html_options values=$secArrOut output=$secArrOut selected=$subjectType}
	  </select>
	</td>
</tr>
<tr>
  <td class="table2"></td>
  <td class="table2 form01" align="center"><input type="submit" name="Submit" class="button" value="Save"></td>
</tr>
</table>
</form>
{/block}