{include file="./main.tpl"}
<br>
<br>
<br>
<br>
{block name="head"}
{/block}
{block name="body"}
<!--form name="form1" method="POST" action="clubmaster.php">
<table align="center" border="0" class="table2">
<div class="hd"><h2 align="center">Club Entry</h2>
<tr>
  <input type="hidden" name="clubMasterId" value="{$clubMasterId}">
</tr>
<tr>
  <td align="center" colspan="2" style="color:red; font-size:18px;"><b>{$confirm}</b></td>
</tr>
<tr>
  <td class="table2">Club Name</td>
  <td class="table2 form01"><input name="clubName" type="text" autofocus="autofocus" value="{$clubName}" required ></td>
</tr>
<tr>
  <td class="table2"></td>
  <td class="table2 form01" align="center"><input type="submit" name="Submit" class="button" value="Submit"></td>
</tr>
</table>
</form-->
<table align="center" border="2">
	<div class="hd"><h2 align="center">Club List</h2>
  <tr>
  	<td align="left" class="table2">Edit</td>
    <td align="left" class="table2">Club Name</td>
  </tr>
	{section name="sec" loop=$clubArray}
  <tr>
  	<td align="left" class="table2"><a href="clubMasterEntry.php?subjectMasterId={$clubArray[sec].subjectMasterId}">Edit</a></td>
    <!--<td align="left"><a href="clubMaster.php?clubMasterId={$clubArray[sec].clubMasterId}">Edit</a></td>
    <td align="left"><a onclick="return confirm('Are You Sure To Delete??');" href="clubDelete.php?clubMasterId={$clubArray[sec].clubMasterId}">Delete</a></td>-->
    <td align="left" class="table2">{$clubArray[sec].clubName}</td>
  </tr>
  {/section}
</table>
{/block}