{include file="./main.tpl"}
{block name="body"}
<form name="form1" method="POST" action="feedBackReply.php">
<table align="center" border="0" class="table2">
<div class="hd"><h2 align="center">Feedback</h2>
<tr>
  <td align="center" colspan="2" style="color:red; font-size:18px;"><b>{$confirm}</b></td>
</tr>
<tr>
  <td class="table2">Reply</td>
  <td class="table2 form01">
  	<input type="hidden" name="feedbackId" value="{$feedbackId}">
  	<textarea name="status" style="margin: 0px 2px; width: 530px; height: 300px;" required></textarea>
	</td>
</tr>
<tr>
  <td class="table2"></td>
  <td class="table2 form01" align="center"><input type="submit" name="Submit" class="button" value="Save"></td>
</tr>
</table>
</form>
{/block}