{include file="./main.tpl"}
<br>
<br>
<br>
{block name="head"}
{/block}
{block name="body"}
<form name="form1" method="POST" action="feeType.php">
<table align="center" border="0" class="table2">
<div class="hd"><h2 align="center">Fee Type Entry</h2>
<tr>
  <input type="hidden" name="feeTypeId" value="{$feeTypeId}">
</tr>
<tr>
  <td align="center" colspan="2" style="color:red; font-size:18px;"><b>{$confirm}</b></td>
</tr>
<tr>
  <td class="table2">Fee Type Name</td>
  <td class="table2 form01"><input name="feeType" type="text" autofocus="autofocus" value="{$feeType}" required ></td>
</tr>
<tr>
  <td class="table2"></td>
  <td class="table2 form01" align="center"><input type="submit" name="Submit" class="button" value="Submit"></td>
</tr>
</table>
</form>
{/block}