{block name=head}
{/block}
{block name=body}
</br></br>
<a href="index.php">Home</a>
<form name="forForm" action="forgotPass.php" method="post">
<table width="50%" border="0" cellpadding="0" cellspacing="1">
	<tr>
    <td align="center" class="table1" colspan="4"><h3>Forgot PassWord For Please Enter Your Valid Email Id</h3></td>
  </tr>
  <tr>
    <td>Email</td>
    <td>:</td>
    <td>
      <input type="text" name="email" id="email" size="100"/>
    </td>
  </tr>
  <tr>
    <td> </td>
    <td> </td>
    <td>
      <input type="submit" value="Send" style=" background:#0060a1; color:#FFFFFF; margin-left:100px; font-size:14px; border:1px solid #0060a1" />
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3" style="color:red; font-size:18px;"><b>{$confirm}</b></td>
  </tr>
</table>
</form>
{/block}