<form action="getEng.php" method="POST">
<input type="hidden" name="termValue" value="{$termValue}">
<input type="hidden" name="subjectName" value="{$subjectName}">
<table border=2 align="center">
<tr>
  <td align="left">Student Name</td>    
  <td align="center">Skills</td>    
  <td align="center">Aptitude</td>
</tr>
{section name="sec" loop=$nameArray}
<tr>
	<td nowrap>{$nameArray[sec].studentName}</td>
	<input type="hidden" name="grNo[]" value="{$nameArray[sec].grNo}">
	<td>
    <select name="comSkills[]">
    	<option value="">Select Grade</option>
    		{html_options values=$newGradeArray.gradeId output=$newGradeArray.grade selected=$gradeSelectionArray[$nameArray[sec].grNo].comSkills}
    </select>
  </td>
  <td>
    <select name="comAptitude[]">
    	<option value="">Select Grade</option>
    		{html_options values=$newGradeArray.gradeId output=$newGradeArray.grade selected=$gradeSelectionArray[$nameArray[sec].grNo].comAptitude}
    </select>
  </td>
</tr>
{/section}
<tr>
  <td align="center" colspan="3"><input type="submit" value="Save" name="update" class="newSubmitBtn"></td>
</tr>
</table>
</form>