{include file="./main.tpl"}
<form name="form1" method="POST" action="gradeMaster.php">
{block name="body"}
<table align="center" border="0" class="table2">
<input type="hidden" name="gradeId" value="{$gradeId}">
<div class="hd"><h2 align="center">Grade Master</h2>
<tr>
  <td class="table2">Grade</td>
  <td class="table2 form01"><input name="grade" type="text" autofocus="autofocus" value="{$grade}" required ></td>
</tr>
<tr>
  <td class="table2"></td>
   <td class="table2 form01" align="center"><input type="submit" name="Submit" class="button" value="Submit"></td>
  <td class="table2"></td>
</tr>
</table>
</form>
<table align="center" border="2">
  <h2 align="center"><font color="red">Grade List</font></h2>
	<tr>
		<td align="center"><b>&nbsp;</b></td>
		<td align="center"><b>Grade Name</b></td>
  </tr>
  {section name="sec" loop=$gradeArray}
  <tr>
    <td align="left"><a href="gradeMaster.php?gradeId={$gradeArray[sec].gradeId}">Edit</td>
    <td align="left">{$gradeArray[sec].grade}</td>
  </tr>
  {/section}
</table>
{/block}