<form action="getEng.php" method="POST">
<input type="hidden" name="subjectName" value="{$subjectName}">
<input type="hidden" name="termValue" value="{$termValue}">
<table border=2 align="center">
<tr>
  <td align="left">Student Name</td>    
  <td align="center">Height</td>    
  <td align="center">Weight</td>
</tr>
{section name="sec" loop=$nameArray}
<tr>
	<td nowrap>{$nameArray[sec].studentName}</td>
	<input type="hidden" name="grNo[]" value="{$nameArray[sec].grNo}">
	<td nowrap><input type="text" name="studHei[]" value="{$gradeSelectionArray[$nameArray[sec].grNo].studHei}"></td>
	<td nowrap><input type="text" name="studWei[]" value="{$gradeSelectionArray[$nameArray[sec].grNo].studWei}"></td>
	 
</tr>
{/section}
<tr>
  <td align="center" colspan="3"><input type="submit" value="Save" name="update" class="newSubmitBtn"></td>
</tr>
</table>
</form>