{include file="./main.tpl"}
<br>
<br>
<br>
<br>
{block name="head"}
{/block}
{block name="body"}
<form name="form1" method="POST" action="houseMaster.php">
<table align="center" border="0" class="table2">
<div class="hd"><h2 align="center">House Entry</h2>
<tr>
  <td align="center" colspan="2" style="color:red; font-size:18px;"><b>{$confirm}</b></td>
</tr>
<tr>
  <td class="table2">House Name</td>
  <td class="table2 form01"><input name="houseName" type="text" autofocus="autofocus" required ></td>
</tr>
<tr>
  <td></td>
  <td class="table2 form01"><input name="submit" type="submit" value="Submit"></td>
</tr>
</table>
</form>
<table align="center" border="2">
	<h2 align="center">House List</h2>
	<tr>
		<td align="center"><b>House Name</b></td>
  </tr>
  {section name="sec" loop=$houseArray}
  <tr>
    <td align="left">{$houseArray[sec].houseName}</td>
  </tr>
  {/section}
</table>
{/block}