{extends file="./main.tpl"}
{block name=head}
{/block}
{block name=body}
</br></br>
<center>
  <img src="./images/logo.png"></br></br></br></br></br></br>
  <img src="./images/logoIndex.png">
</center>
{/block}