{include file="./main.tpl"}
{block name=head}
<style type="text/css" title="currentStyle">
	@import "./media/css/demo_table_jui.css";
  @import "./media/themes/ui-lightness/jquery-ui-1.8.4.custom.css";
  input
	{
		border:1px solid black;
	}
</style>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
  $('#myDataTable').dataTable({
  	"aLengthMenu": [[10, 25, 50, 100, 500, 1000], [10, 25, 50, 100, 500, 1000]],
  	"iDisplayLength": 100,
		"bJQueryUI":true
  });
});
</script>
{/block}
{block name="body"}
</br></br>
<form name="formGet" method="GET" action="nominalRollListReportCard12.php">
<table align="center">
	<tr>
		<td class="table2 form01">
		  <select name="class" autofocus="autofocus" required >
		    <option value="">Select class</option>
		    {html_options values=$cArray.className output=$cArray.className selected=$class}
		  </select>
	  </td>
    <td class="table2 form01">
		  <select name="classSection">
		    <option value="0">Select Section</option>
		    {html_options values=$secArrOut output=$secArrOut selected=$section}
		  </select>
	  </td>
	  <td class="table2 form01">
      <select name="startYear" id="startDateYear">
        {html_options values=$dateArrVal output=$dateArrOut selected=$academicStartYear}
      </select>
	  </td>
    <td>
      <input type="submit" name="submit" class="newGoBtn" value="Go">
    </td>
  </tr>
</table>
</form>
<table align="left" border="1" id="myDataTable" class="display">
	<div class="hd"><h2 align="center">Report Card</h2>
	<thead>
	<tr>
		<td align="left"><b>Academic Year</b></td>
		<td align="left"><b>Sr No</b></td>
		<td align="left"><b>GR No</b></td>
		<td align="left"><b>Roll No</b></td>
		<td align="left"><b>Student Name</b></td>
		<td align="left"><b>Class</b></td>
		<td align="left"><b>Section</b></td>
		<td align="left"><b>Term 1 Report Card</b></td>
		<td align="left"><b>Term 2 Report Card</b></td>
  </tr>
  </thead>
  <tbody>
  {section name="sec" loop=$nominalArr}
  <tr>
  	<td align="left">{$nominalArr[sec].academicYear}</td>
  	<td align="left">{$smarty.section.sec.rownum}</td>
    <td align="left">{$nominalArr[sec].grNo}</td>
    <td align="left">{$nominalArr[sec].rollNo}</td>
    <td align="left">{$nominalArr[sec].studentName}</td>
    <td align="left">{$nominalArr[sec].class}</td>
    <td align="left">{$nominalArr[sec].section}</td>
    <!--{if $nominalArr[sec].class == '11 SCI.'}
      <td align="left"><a href="myReportCard11Sci.php?academicYear={$nominalArr[sec].academicYear}&grNo={$nominalArr[sec].grNo}">Report Card</a></td>
    {/if}
    {if $nominalArr[sec].class == '11 COM.'}
      <td align="left"><a href="myReportCard11Com.php?academicYear={$nominalArr[sec].academicYear}&grNo={$nominalArr[sec].grNo}">Report Card</a></td>
    {/if}
    {if $nominalArr[sec].class == '12 SCI.'}
      <td align="left"><a href="myReportCard11Sci.php?academicYear={$nominalArr[sec].academicYear}&grNo={$nominalArr[sec].grNo}">Report Card</a></td>
    {/if}
    {if $nominalArr[sec].class == '12 COM.'}
      <td align="left"><a href="myReportCard11Com.php?academicYear={$nominalArr[sec].academicYear}&grNo={$nominalArr[sec].grNo}">Report Card</a></td>
    {/if}-->
    <td align="left"><a href="myReportCardNewT1.php?academicYear={$nominalArr[sec].academicYear}&grNo={$nominalArr[sec].grNo}">Report Card</a></td>
    <td align="left"><a href="myReportCardNew.php?academicYear={$nominalArr[sec].academicYear}&grNo={$nominalArr[sec].grNo}">Report Card</a></td>
  </tr>
  {/section}
  </tbody>
</table>
{/block}