<form action="getEng.php" method="POST">
<input type="hidden" name="subjectName" value="{$subjectName}">
<input type="hidden" name="termValue" value="{$termValue}">
<table border=2 align="center">
<tr>
 <td align="center">Student Name</td>
 <td align="center">Couteousness</td>
 <td align="center">Confidence</td>
 <td align="center">Care Of Belongings</td>
 <td align="center">Neatness</td>
 <td align="center">Punctuality</td>
 <td align="center">Regularity</td>
 <td align="center">Inactive</td>
 <td align="center">Shareing And Caring</td>
 <td align="center">Respect For Others Property</td>
 <td align="center">Self Control</td>
</tr>
{section name="sec" loop=$nameArray}
<tr>
	<td nowrap>{$nameArray[sec].studentName}</td>
	<input type="hidden" name="grNo[]" value="{$nameArray[sec].grNo}">
	<td>
    <select name="perCou[]">
      <option value="">Select Grade</option>
        {html_options values=$newGradeArray.gradeId output=$newGradeArray.grade selected=$gradeSelectionArray[$nameArray[sec].grNo].perCou}
    </select>
  </td>
  <td>
   <select name="perCon[]">
   	<option value="">Select Grade</option>
   		{html_options values=$newGradeArray.gradeId output=$newGradeArray.grade selected=$gradeSelectionArray[$nameArray[sec].grNo].perCon}
   </select>
  </td>
  <td>
   <select name="perCar[]">
   	<option value="">Select Grade</option>
   		{html_options values=$newGradeArray.gradeId output=$newGradeArray.grade selected=$gradeSelectionArray[$nameArray[sec].grNo].perCar}
   </select>
  </td>
  <td>
   <select name="perNea[]">
   	<option value="">Select Grade</option>
   		{html_options values=$newGradeArray.gradeId output=$newGradeArray.grade selected=$gradeSelectionArray[$nameArray[sec].grNo].perNea}
   </select>
  </td>
  <td>
   <select name="perPun[]">
   	<option value="">Select Grade</option>
   		{html_options values=$newGradeArray.gradeId output=$newGradeArray.grade selected=$gradeSelectionArray[$nameArray[sec].grNo].perPun}
   </select>
  </td>
  <td>
   <select name="perRegAndPun[]">
   	<option value="">Select Grade</option>
   		{html_options values=$newGradeArray.gradeId output=$newGradeArray.grade selected=$gradeSelectionArray[$nameArray[sec].grNo].perRegAndPun}
   </select>
  </td>
  <td>
   <select name="perIni[]">
   	<option value="">Select Grade</option>
   		{html_options values=$newGradeArray.gradeId output=$newGradeArray.grade selected=$gradeSelectionArray[$nameArray[sec].grNo].perIni}
   </select>
  </td>
  <td>
   <select name="perSha[]">
   	<option value="">Select Grade</option>
   		{html_options values=$newGradeArray.gradeId output=$newGradeArray.grade selected=$gradeSelectionArray[$nameArray[sec].grNo].perSha}
   </select>
  </td>
  <td>
   <select name="perRes[]">
   	<option value="">Select Grade</option>
   		{html_options values=$newGradeArray.gradeId output=$newGradeArray.grade selected=$gradeSelectionArray[$nameArray[sec].grNo].perRes}
   </select>
  </td>
  <td>
   <select name="persel[]">
   	<option value="">Select Grade</option>
   		{html_options values=$newGradeArray.gradeId output=$newGradeArray.grade selected=$gradeSelectionArray[$nameArray[sec].grNo].persel}
   </select>
  </td>
</tr>
{/section}
<tr>
  <td align="center" colspan="11"><input type="submit" value="Save" name="update" class="newSubmitBtn"></td>
</tr>
</table>
</form>