{if $studeName != ''}
	<input type="text" name="" value="{$studeName}" size='50' />
	<input type="text" name="" value="{$classSection}" size='10' />
{else}
	<input type="text" name="" value="{$grNoBest}" size='50' />
	<input type="text" name="" value="{$classSection}" size='10' />
{/if}