{if $studeName != ''}
<td align="left" class="table2 form01">Student Name : </td>
<td class="table2 form01"><input type="text" name="" value="{$studeName}" REQUIRED  size='50' /></td>
<td align="left" class="table2 form01">Class : </td>
<td class="table2 form01"><input type="text" name="" value="{$classSection}" REQUIRED size='10' /></td>
{else}
<td align="left" class="table2 form01">GrNO : </td>
<td class="table2 form01"><input type="text" name="grNo" value="{$grNoBest}" REQUIRED size='50' /></td>
<td align="left" class="table2 form01">Class : </td>
<td class="table2 form01"><input type="text" name="" value="{$classSection}" REQUIRED size='10' /></td>
{/if}