<td align="left" class="table2 form01">Student Name : </td>
  <td class="table2 form01"><input type="text" name="" value="{$studeName}" REQUIRED DISABLED size='50' /></td>
	<td align="left" class="table2 form01">Class : </td>
	<td class="table2 form01"><input type="text" name="" value="{$classSection}" REQUIRED DISABLED size='10' /></td>