{include file="./main.tpl"}
{block name="body"}
<form name="form1" method="POST" action="vehicalMaster.php">
<table align="center" border="0" class="table2">
<div class="hd"><h2 align="center">Vehical Entry</h2>
<input type="hidden" name="vehicleMasterId" value="{$vehicleMasterId}">
<tr>
  <td align="center" colspan="2" style="color:red; font-size:18px;"><b>{$confirm}</b></td>
</tr>
<tr>
  <td class="table2">Vehicle Type</td>
  <td class="table2 form01">
  	<select name="vehicleTypeId" id="vehicleTypeId" REQUIRED Autofocus >
      {html_options values=$typeArr.vehicleTypeId output=$typeArr.vehicleType selected=$vehicleTypeId}
    </select>
	</td>
</tr>
<tr>
  <td align="left" class="table2 form01">Vehicle No : </td>
  <td class="table2 form01"><input type="text" name="vehicleNo" id="vehicleNo" value="{$vehicleNo}" REQUIRED /></td>
</tr>
<tr>
  <td class="table2">Registration No</td>
  <td class="table2 form01">
  	<input type="text" name="registrationNo" value="{$registrationNo}" />
	</td>
</tr>
<tr>
  <td class="table2">Capicity</td>
  <td class="table2 form01">
  	<input type="text" name="capicity" value="{$capicity}" />
	</td>
</tr>
<tr>
  <td class="table2"></td>
  <td class="table2 form01" align="center"><input type="submit" name="Submit" class="button" value="Save"></td>
</tr>
</table>
</form>
{/block}